<font size='5'>期末報告資料處理part2</font><br>

In [1]:
import numpy as np
import pandas as pd
import calendar

In [2]:
train = pd.read_csv('train.csv', engine='python',index_col="ID")
# test = pd.read_csv('test.csv', engine='python',index_col="ID")
# train_label = pd.read_csv('train_label.csv', engine='python')
# test_nolabel = pd.read_csv('test_nolabel.csv', engine='python')

In [3]:
train

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
ID,,,,,,,,,,,,,,,,,,,,,
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,-6.305161,0,0,Check-Out,2015-07-01
1,City Hotel,0,257,2015,July,27,1,0,2,1,...,No Deposit,6.0,NaN,0,Transient,75.052227,0,0,Check-Out,2015-07-03
2,City Hotel,0,257,2015,July,27,1,0,2,2,...,No Deposit,6.0,NaN,0,Transient,74.546401,0,0,Check-Out,2015-07-03
3,City Hotel,0,257,2015,July,27,1,0,2,2,...,No Deposit,6.0,NaN,0,Transient,76.376288,0,0,Check-Out,2015-07-03
4,City Hotel,0,257,2015,July,27,1,0,2,2,...,No Deposit,6.0,NaN,0,Transient,49.411647,0,0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91526,Resort Hotel,1,19,2017,March,13,31,0,2,2,...,No Deposit,250.0,NaN,0,Transient,79.223571,0,1,Canceled,2017-03-22
91527,Resort Hotel,0,28,2017,March,13,31,0,2,2,...,No Deposit,NaN,NaN,0,Transient,-6.822102,0,0,Check-Out,2017-04-02
91528,Resort Hotel,0,2,2017,March,13,31,0,1,2,...,No Deposit,NaN,NaN,0,Transient,90.814554,0,2,Check-Out,2017-04-01
91529,Resort Hotel,0,30,2017,March,13,31,3,7,2,...,No Deposit,250.0,NaN,0,Transient,38.135565,0,1,Check-Out,2017-04-10
91530,Resort Hotel,0,1,2017,March,13,31,0,1,1,...,No Deposit,250.0,NaN,0,Transient,58.196470,0,1,Check-Out,2017-04-01

In [4]:
# train_nocan=train[train["is_canceled"]!=1]
train_nocan=train
train_nocan=train_nocan.reset_index()

In [5]:
train_8=train_nocan[["arrival_date_year","arrival_date_month","arrival_date_day_of_month","meal","distribution_channel","is_repeated_guest","previous_cancellations","previous_bookings_not_canceled","reserved_room_type","assigned_room_type","booking_changes"]]

In [6]:
train_8

,arrival_date_year,arrival_date_month,arrival_date_day_of_month,meal,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes
0,2015,July,1,BB,Direct,0,0,0,C,C,3
1,2015,July,1,HB,TA/TO,0,0,0,A,A,1
2,2015,July,1,HB,TA/TO,0,0,0,A,A,0
3,2015,July,1,HB,TA/TO,0,0,0,A,A,0
4,2015,July,1,HB,TA/TO,0,0,0,A,A,0
...,...,...,...,...,...,...,...,...,...,...,...
91526,2017,March,31,BB,Direct,0,0,0,C,C,0
91527,2017,March,31,BB,Direct,0,0,0,A,A,0
91528,2017,March,31,BB,TA/TO,0,0,0,E,F,1
91529,2017,March,31,BB,Direct,0,0,0,A,A,0
91530,2017,March,31,BB,Direct,0,0,0,A,D,0

In [7]:
date=[]
month=["","January","February","March","April","May","June","July","August","September","October","November","December"]
for i in range(len(train_8)):
    mo=month.index(train_8["arrival_date_month"].iloc[i])
    if mo<10:
        mo="0"+str(mo)
    year=int(train_8["arrival_date_year"].iloc[i])
    day=int(train_8["arrival_date_day_of_month"].iloc[i])
    if int(day)<10:
        day="0"+str(day)
#     print(year)
    date.append(str(year)+"-"+str(mo)+"-"+str(day))

In [8]:
len(date)

91531

In [9]:
date_pd=pd.DataFrame(date,columns=["date"])
train_8_conca = pd.concat([date_pd,train_8],axis=1)
train_8_conca
train_8_new=train_8_conca.drop(["arrival_date_year","arrival_date_month","arrival_date_day_of_month"],axis=1)
train_8_new

,date,meal,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes
0,2015-07-01,BB,Direct,0,0,0,C,C,3
1,2015-07-01,HB,TA/TO,0,0,0,A,A,1
2,2015-07-01,HB,TA/TO,0,0,0,A,A,0
3,2015-07-01,HB,TA/TO,0,0,0,A,A,0
4,2015-07-01,HB,TA/TO,0,0,0,A,A,0
...,...,...,...,...,...,...,...,...,...
91526,2017-03-31,BB,Direct,0,0,0,C,C,0
91527,2017-03-31,BB,Direct,0,0,0,A,A,0
91528,2017-03-31,BB,TA/TO,0,0,0,E,F,1
91529,2017-03-31,BB,Direct,0,0,0,A,A,0
91530,2017-03-31,BB,Direct,0,0,0,A,D,0

In [10]:
train_8_meal=train_8_new[["date","meal"]]
train_8_meal

             date meal
0      2015-07-01   BB
1      2015-07-01   HB
2      2015-07-01   HB
3      2015-07-01   HB
4      2015-07-01   HB
...           ...  ...
91526  2017-03-31   BB
91527  2017-03-31   BB
91528  2017-03-31   BB
91529  2017-03-31   BB
91530  2017-03-31   BB

[91531 rows x 2 columns]

In [11]:
train_8_meal=pd.get_dummies(train_8_meal, columns=["meal"])
train_8_meal_final=train_8_meal.groupby(by=["date"]).sum()
train_8_meal_final=train_8_meal_final.drop(["meal_Undefined"],axis=1)
train_8_meal_final

            meal_BB  meal_FB  meal_HB  meal_SC
date
2015-07-01     45.0      1.0     76.0      0.0
2015-07-02     83.0      1.0      9.0      0.0
2015-07-03     36.0      0.0     19.0      1.0
2015-07-04     76.0      1.0     11.0      0.0
2015-07-05     38.0      0.0     14.0      1.0
...             ...      ...      ...      ...
2017-03-27    162.0      0.0      5.0     16.0
2017-03-28     70.0      0.0      7.0     11.0
2017-03-29    123.0      0.0      7.0     24.0
2017-03-30    125.0      0.0      7.0     31.0
2017-03-31    168.0      0.0     16.0     29.0

[640 rows x 4 columns]

In [12]:
train_8_disch=train_8_new[["date","distribution_channel"]]
train_8_disch

             date distribution_channel
0      2015-07-01               Direct
1      2015-07-01                TA/TO
2      2015-07-01                TA/TO
3      2015-07-01                TA/TO
4      2015-07-01                TA/TO
...           ...                  ...
91526  2017-03-31               Direct
91527  2017-03-31               Direct
91528  2017-03-31                TA/TO
91529  2017-03-31               Direct
91530  2017-03-31               Direct

[91531 rows x 2 columns]

In [13]:
train_8_disch=pd.get_dummies(train_8_disch, columns=["distribution_channel"])
train_8_disch_final=train_8_disch.groupby(by=["date"]).sum()
train_8_disch_final=train_8_disch_final.drop(["distribution_channel_Undefined"],axis=1)
train_8_disch_final

,distribution_channel_Corporate,distribution_channel_Direct,distribution_channel_GDS,distribution_channel_TA/TO
date,,,,
2015-07-01,4.0,12.0,0.0,106.0
2015-07-02,0.0,8.0,0.0,85.0
2015-07-03,0.0,3.0,0.0,53.0
2015-07-04,0.0,10.0,0.0,78.0
2015-07-05,0.0,5.0,0.0,47.0
...,...,...,...,...
2017-03-27,55.0,14.0,0.0,114.0
2017-03-28,9.0,11.0,0.0,68.0
2017-03-29,16.0,21.0,0.0,117.0
2017-03-30,28.0,9.0,2.0,140.0
2017-03-31,11.0,27.0,0.0,175.0

In [14]:
train_8_isrep=train_8_new[["date","is_repeated_guest"]]
train_8_isrep

             date  is_repeated_guest
0      2015-07-01                  0
1      2015-07-01                  0
2      2015-07-01                  0
3      2015-07-01                  0
4      2015-07-01                  0
...           ...                ...
91526  2017-03-31                  0
91527  2017-03-31                  0
91528  2017-03-31                  0
91529  2017-03-31                  0
91530  2017-03-31                  0

[91531 rows x 2 columns]

In [15]:
train_8_isrep=pd.get_dummies(train_8_isrep, columns=["is_repeated_guest"])
train_8_isrep_final=train_8_isrep.groupby(by=["date"]).sum()
# train_8_disch_final=train_8_disch_final.drop(["distribution_channel_Undefined"],axis=1)
train_8_isrep_final

            is_repeated_guest_0  is_repeated_guest_1
date
2015-07-01                121.0                  1.0
2015-07-02                 71.0                 22.0
2015-07-03                 56.0                  0.0
2015-07-04                 88.0                  0.0
2015-07-05                 52.0                  1.0
...                         ...                  ...
2017-03-27                174.0                  9.0
2017-03-28                 81.0                  7.0
2017-03-29                137.0                 17.0
2017-03-30                173.0                  6.0
2017-03-31                210.0                  3.0

[640 rows x 2 columns]

In [16]:
train_8_precan=train_8_new[["date","previous_cancellations"]]
train_8_precan_final=train_8_precan.groupby(by=["date"]).mean()
train_8_precan_final

            previous_cancellations
date
2015-07-01                0.090164
2015-07-02                0.505376
2015-07-03                0.017857
2015-07-04                0.363636
2015-07-05                0.150943
...                            ...
2017-03-27                0.005464
2017-03-28                0.011364
2017-03-29                0.012987
2017-03-30                0.005587
2017-03-31                0.000000

[640 rows x 1 columns]

In [17]:
train_8_prenocan=train_8_new[["date","previous_bookings_not_canceled"]]
train_8_prenocan_final=train_8_prenocan.groupby(by=["date"]).mean()
train_8_prenocan_final

            previous_bookings_not_canceled
date
2015-07-01                        0.073770
2015-07-02                        0.032258
2015-07-03                        0.000000
2015-07-04                        0.000000
2015-07-05                        0.000000
...                                    ...
2017-03-27                        0.098361
2017-03-28                        0.488636
2017-03-29                        0.467532
2017-03-30                        0.217877
2017-03-31                        0.018779

[640 rows x 1 columns]

In [18]:
train_8_room=train_8_new[["date","reserved_room_type","assigned_room_type"]]
train_8_room
# train_8_room_final=train_8_room.groupby(by=["date"]).mean()
# train_8_room_final

             date reserved_room_type assigned_room_type
0      2015-07-01                  C                  C
1      2015-07-01                  A                  A
2      2015-07-01                  A                  A
3      2015-07-01                  A                  A
4      2015-07-01                  A                  A
...           ...                ...                ...
91526  2017-03-31                  C                  C
91527  2017-03-31                  A                  A
91528  2017-03-31                  E                  F
91529  2017-03-31                  A                  A
91530  2017-03-31                  A                  D

[91531 rows x 3 columns]

In [19]:
room=[]
for i in range(len(train_8_room)):
    if train_8_room["reserved_room_type"].iloc[i]==train_8_room["assigned_room_type"].iloc[i]:
        room.append(0)
    else:
        room.append(1)
room=pd.DataFrame(room,columns=["room"])
train_8_room_conca = pd.concat([date_pd,room],axis=1)
train_8_room_final=pd.get_dummies(train_8_room_conca, columns=["room"])
train_8_room_final=train_8_room_final.groupby(by=["date"]).sum()
train_8_room_final

            room_0  room_1
date
2015-07-01   111.0    11.0
2015-07-02    85.0     8.0
2015-07-03    51.0     5.0
2015-07-04    79.0     9.0
2015-07-05    45.0     8.0
...            ...     ...
2017-03-27   171.0    12.0
2017-03-28    76.0    12.0
2017-03-29   131.0    23.0
2017-03-30   159.0    20.0
2017-03-31   191.0    22.0

[640 rows x 2 columns]

In [20]:
train_8_assroom=train_8_new[["date","assigned_room_type"]]
train_8_assroom_du=pd.get_dummies(train_8_assroom, columns=["assigned_room_type"])
train_8_assroom_gp=train_8_assroom_du.groupby(by=["date"]).sum()
train_8_assroom_gp

,assigned_room_type_A,assigned_room_type_B,assigned_room_type_C,assigned_room_type_D,assigned_room_type_E,assigned_room_type_F,assigned_room_type_G,assigned_room_type_H,assigned_room_type_I,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P
date,,,,,,,,,,,,
2015-07-01,91.0,1.0,8.0,7.0,10.0,1.0,3.0,0.0,1.0,0.0,0.0,0.0
2015-07-02,60.0,1.0,6.0,11.0,6.0,3.0,4.0,2.0,0.0,0.0,0.0,0.0
2015-07-03,36.0,0.0,5.0,4.0,6.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0
2015-07-04,59.0,0.0,5.0,11.0,5.0,2.0,4.0,2.0,0.0,0.0,0.0,0.0
2015-07-05,27.0,0.0,5.0,9.0,5.0,1.0,3.0,3.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-03-27,94.0,2.0,1.0,49.0,31.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0
2017-03-28,52.0,1.0,1.0,18.0,7.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0
2017-03-29,103.0,0.0,1.0,32.0,8.0,3.0,4.0,1.0,0.0,2.0,0.0,0.0
2017-03-30,121.0,2.0,7.0,32.0,7.0,5.0,2.0,0.0,1.0,2.0,0.0,0.0
2017-03-31,150.0,0.0,4.0,38.0,8.0,11.0,1.0,1.0,0.0,0.0,0.0,0.0

In [21]:
train_8_assroom_gp_ap=train_8_assroom_gp.drop(["assigned_room_type_A","assigned_room_type_D"],axis=1)
train_8_assroom_gp_ap

,assigned_room_type_B,assigned_room_type_C,assigned_room_type_E,assigned_room_type_F,assigned_room_type_G,assigned_room_type_H,assigned_room_type_I,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P
date,,,,,,,,,,
2015-07-01,1.0,8.0,10.0,1.0,3.0,0.0,1.0,0.0,0.0,0.0
2015-07-02,1.0,6.0,6.0,3.0,4.0,2.0,0.0,0.0,0.0,0.0
2015-07-03,0.0,5.0,6.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0
2015-07-04,0.0,5.0,5.0,2.0,4.0,2.0,0.0,0.0,0.0,0.0
2015-07-05,0.0,5.0,5.0,1.0,3.0,3.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2017-03-27,2.0,1.0,31.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0
2017-03-28,1.0,1.0,7.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0
2017-03-29,0.0,1.0,8.0,3.0,4.0,1.0,0.0,2.0,0.0,0.0
2017-03-30,2.0,7.0,7.0,5.0,2.0,0.0,1.0,2.0,0.0,0.0
2017-03-31,0.0,4.0,8.0,11.0,1.0,1.0,0.0,0.0,0.0,0.0

In [22]:
train_8_assroom_gp_else=train_8_assroom_gp_ap.sum(axis=1)
train_8_assroom_gp_else=pd.DataFrame(train_8_assroom_gp_else,columns=["assigned_room_type_else"])
train_8_assroom_gp_else

            assigned_room_type_else
date
2015-07-01                     24.0
2015-07-02                     22.0
2015-07-03                     16.0
2015-07-04                     18.0
2015-07-05                     17.0
...                             ...
2017-03-27                     40.0
2017-03-28                     18.0
2017-03-29                     19.0
2017-03-30                     26.0
2017-03-31                     25.0

[640 rows x 1 columns]

In [23]:
train_8_assroom_gp_final = pd.concat([train_8_assroom_gp[["assigned_room_type_A","assigned_room_type_D"]],train_8_assroom_gp_else],axis=1)
train_8_assroom_gp_final

,assigned_room_type_A,assigned_room_type_D,assigned_room_type_else
date,,,
2015-07-01,91.0,7.0,24.0
2015-07-02,60.0,11.0,22.0
2015-07-03,36.0,4.0,16.0
2015-07-04,59.0,11.0,18.0
2015-07-05,27.0,9.0,17.0
...,...,...,...
2017-03-27,94.0,49.0,40.0
2017-03-28,52.0,18.0,18.0
2017-03-29,103.0,32.0,19.0
2017-03-30,121.0,32.0,26.0
2017-03-31,150.0,38.0,25.0

In [24]:
train_8_book=train_8_new[["date","booking_changes"]]
train_8_book_final=train_8_book.groupby(by=["date"]).mean()
train_8_book_final

            booking_changes
date
2015-07-01         0.270492
2015-07-02         0.043011
2015-07-03         0.107143
2015-07-04         0.090909
2015-07-05         0.207547
...                     ...
2017-03-27         0.169399
2017-03-28         0.125000
2017-03-29         0.201299
2017-03-30         0.268156
2017-03-31         0.145540

[640 rows x 1 columns]

In [25]:
train_mid_8=pd.concat([train_8_meal_final,train_8_disch_final,train_8_isrep_final,train_8_precan_final,train_8_prenocan_final,train_8_room_final,train_8_assroom_gp_final,train_8_book_final],axis=1)
train_mid_8

,meal_BB,meal_FB,meal_HB,meal_SC,distribution_channel_Corporate,distribution_channel_Direct,distribution_channel_GDS,distribution_channel_TA/TO,is_repeated_guest_0,is_repeated_guest_1,previous_cancellations,previous_bookings_not_canceled,room_0,room_1,assigned_room_type_A,assigned_room_type_D,assigned_room_type_else,booking_changes
date,,,,,,,,,,,,,,,,,,
2015-07-01,45.0,1.0,76.0,0.0,4.0,12.0,0.0,106.0,121.0,1.0,0.090164,0.073770,111.0,11.0,91.0,7.0,24.0,0.270492
2015-07-02,83.0,1.0,9.0,0.0,0.0,8.0,0.0,85.0,71.0,22.0,0.505376,0.032258,85.0,8.0,60.0,11.0,22.0,0.043011
2015-07-03,36.0,0.0,19.0,1.0,0.0,3.0,0.0,53.0,56.0,0.0,0.017857,0.000000,51.0,5.0,36.0,4.0,16.0,0.107143
2015-07-04,76.0,1.0,11.0,0.0,0.0,10.0,0.0,78.0,88.0,0.0,0.363636,0.000000,79.0,9.0,59.0,11.0,18.0,0.090909
2015-07-05,38.0,0.0,14.0,1.0,0.0,5.0,0.0,47.0,52.0,1.0,0.150943,0.000000,45.0,8.0,27.0,9.0,17.0,0.207547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-03-27,162.0,0.0,5.0,16.0,55.0,14.0,0.0,114.0,174.0,9.0,0.005464,0.098361,171.0,12.0,94.0,49.0,40.0,0.169399
2017-03-28,70.0,0.0,7.0,11.0,9.0,11.0,0.0,68.0,81.0,7.0,0.011364,0.488636,76.0,12.0,52.0,18.0,18.0,0.125000
2017-03-29,123.0,0.0,7.0,24.0,16.0,21.0,0.0,117.0,137.0,17.0,0.012987,0.467532,131.0,23.0,103.0,32.0,19.0,0.201299
2017-03-30,125.0,0.0,7.0,31.0,28.0,9.0,2.0,140.0,173.0,6.0,0.005587,0.217877,159.0,20.0,121.0,32.0,26.0,0.268156
2017-03-31,168.0,0.0,16.0,29.0,11.0,27.0,0.0,175.0,210.0,3.0,0.000000,0.018779,191.0,22.0,150.0,38.0,25.0,0.145540

In [26]:
import csv

# 開啟輸出的 CSV 檔案
with open('preprocess_train_includecancel_part2.csv', 'w', newline='') as csvfile:
    # 建立 CSV 檔寫入器
    writer = csv.writer(csvfile)

    # 寫入標題資料
    writer.writerow(["arrival_date","meal_BB","meal_FB",
                     "meal_HB","meal_SC","distribution_channel_Corporate",
                     "distribution_channel_Direct","distribution_channel_GDS",
                     "distribution_channel_TA/TO","is_repeated_guest_0",
                     "is_repeated_guest_1","previous_cancellations","previous_bookings_not_canceled","room_0","room_1",
                     "assigned_room_type_A","assigned_room_type_D","assigned_room_type_else","booking_changes"])
    # 寫入距離資料
    for i in range(len(train_mid_8)):
        writer.writerow([train_mid_8.index[i],train_mid_8["meal_BB"].iloc[i],train_mid_8["meal_FB"].iloc[i],
                         train_mid_8["meal_HB"].iloc[i],train_mid_8["meal_SC"].iloc[i],train_mid_8["distribution_channel_Corporate"].iloc[i],
                         train_mid_8["distribution_channel_Direct"].iloc[i],train_mid_8["distribution_channel_GDS"].iloc[i],
                         train_mid_8["distribution_channel_TA/TO"].iloc[i],train_mid_8["is_repeated_guest_0"].iloc[i],
                         train_mid_8["is_repeated_guest_1"].iloc[i],train_mid_8["previous_cancellations"].iloc[i],
                         train_mid_8["previous_bookings_not_canceled"].iloc[i],train_mid_8["room_0"].iloc[i],
                         train_mid_8["room_1"].iloc[i],train_mid_8["assigned_room_type_A"].iloc[i],train_mid_8["assigned_room_type_D"].iloc[i],
                        train_mid_8["assigned_room_type_else"].iloc[i],train_mid_8["booking_changes"].iloc[i]])

In [27]:
quatity=pd.DataFrame(train_8_book.groupby(by=["date"]).size(),columns=["quatity"])
quatity

            quatity
date
2015-07-01      122
2015-07-02       93
2015-07-03       56
2015-07-04       88
2015-07-05       53
...             ...
2017-03-27      183
2017-03-28       88
2017-03-29      154
2017-03-30      179
2017-03-31      213

[640 rows x 1 columns]

In [28]:
train_mid_8_pe=pd.concat([train_mid_8,quatity],axis=1)
train_mid_8_pe

,meal_BB,meal_FB,meal_HB,meal_SC,distribution_channel_Corporate,distribution_channel_Direct,distribution_channel_GDS,distribution_channel_TA/TO,is_repeated_guest_0,is_repeated_guest_1,previous_cancellations,previous_bookings_not_canceled,room_0,room_1,assigned_room_type_A,assigned_room_type_D,assigned_room_type_else,booking_changes,quatity
date,,,,,,,,,,,,,,,,,,,
2015-07-01,45.0,1.0,76.0,0.0,4.0,12.0,0.0,106.0,121.0,1.0,0.090164,0.073770,111.0,11.0,91.0,7.0,24.0,0.270492,122
2015-07-02,83.0,1.0,9.0,0.0,0.0,8.0,0.0,85.0,71.0,22.0,0.505376,0.032258,85.0,8.0,60.0,11.0,22.0,0.043011,93
2015-07-03,36.0,0.0,19.0,1.0,0.0,3.0,0.0,53.0,56.0,0.0,0.017857,0.000000,51.0,5.0,36.0,4.0,16.0,0.107143,56
2015-07-04,76.0,1.0,11.0,0.0,0.0,10.0,0.0,78.0,88.0,0.0,0.363636,0.000000,79.0,9.0,59.0,11.0,18.0,0.090909,88
2015-07-05,38.0,0.0,14.0,1.0,0.0,5.0,0.0,47.0,52.0,1.0,0.150943,0.000000,45.0,8.0,27.0,9.0,17.0,0.207547,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-03-27,162.0,0.0,5.0,16.0,55.0,14.0,0.0,114.0,174.0,9.0,0.005464,0.098361,171.0,12.0,94.0,49.0,40.0,0.169399,183
2017-03-28,70.0,0.0,7.0,11.0,9.0,11.0,0.0,68.0,81.0,7.0,0.011364,0.488636,76.0,12.0,52.0,18.0,18.0,0.125000,88
2017-03-29,123.0,0.0,7.0,24.0,16.0,21.0,0.0,117.0,137.0,17.0,0.012987,0.467532,131.0,23.0,103.0,32.0,19.0,0.201299,154
2017-03-30,125.0,0.0,7.0,31.0,28.0,9.0,2.0,140.0,173.0,6.0,0.005587,0.217877,159.0,20.0,121.0,32.0,26.0,0.268156,179
2017-03-31,168.0,0.0,16.0,29.0,11.0,27.0,0.0,175.0,210.0,3.0,0.000000,0.018779,191.0,22.0,150.0,38.0,25.0,0.145540,213

In [29]:
for i in range(len(train_mid_8_pe)):
    
    train_mid_8_pe["meal_BB"].iloc[i]=train_mid_8["meal_BB"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["meal_FB"].iloc[i]=train_mid_8["meal_FB"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["meal_HB"].iloc[i]=train_mid_8["meal_HB"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["meal_SC"].iloc[i]=train_mid_8["meal_SC"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["distribution_channel_Corporate"].iloc[i]=train_mid_8["distribution_channel_Corporate"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["distribution_channel_Direct"].iloc[i]=train_mid_8["distribution_channel_Direct"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["distribution_channel_GDS"].iloc[i]=train_mid_8["distribution_channel_GDS"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["distribution_channel_TA/TO"].iloc[i]=train_mid_8["distribution_channel_TA/TO"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["is_repeated_guest_0"].iloc[i]=train_mid_8["is_repeated_guest_0"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["is_repeated_guest_1"].iloc[i]=train_mid_8["is_repeated_guest_1"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["room_0"].iloc[i]=train_mid_8["room_0"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["room_1"].iloc[i]=train_mid_8["room_1"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["assigned_room_type_A"].iloc[i]=train_mid_8["assigned_room_type_A"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["assigned_room_type_D"].iloc[i]=train_mid_8["assigned_room_type_D"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]
    train_mid_8_pe["assigned_room_type_else"].iloc[i]=train_mid_8["assigned_room_type_else"].iloc[i]/train_mid_8_pe["quatity"].iloc[i]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [30]:
train_mid_8_per=train_mid_8_pe.drop(["quatity"],axis=1)
train_mid_8_per

,meal_BB,meal_FB,meal_HB,meal_SC,distribution_channel_Corporate,distribution_channel_Direct,distribution_channel_GDS,distribution_channel_TA/TO,is_repeated_guest_0,is_repeated_guest_1,previous_cancellations,previous_bookings_not_canceled,room_0,room_1,assigned_room_type_A,assigned_room_type_D,assigned_room_type_else,booking_changes
date,,,,,,,,,,,,,,,,,,
2015-07-01,0.368852,0.008197,0.622951,0.000000,0.032787,0.098361,0.000000,0.868852,0.991803,0.008197,0.090164,0.073770,0.909836,0.090164,0.745902,0.057377,0.196721,0.270492
2015-07-02,0.892473,0.010753,0.096774,0.000000,0.000000,0.086022,0.000000,0.913978,0.763441,0.236559,0.505376,0.032258,0.913978,0.086022,0.645161,0.118280,0.236559,0.043011
2015-07-03,0.642857,0.000000,0.339286,0.017857,0.000000,0.053571,0.000000,0.946429,1.000000,0.000000,0.017857,0.000000,0.910714,0.089286,0.642857,0.071429,0.285714,0.107143
2015-07-04,0.863636,0.011364,0.125000,0.000000,0.000000,0.113636,0.000000,0.886364,1.000000,0.000000,0.363636,0.000000,0.897727,0.102273,0.670455,0.125000,0.204545,0.090909
2015-07-05,0.716981,0.000000,0.264151,0.018868,0.000000,0.094340,0.000000,0.886792,0.981132,0.018868,0.150943,0.000000,0.849057,0.150943,0.509434,0.169811,0.320755,0.207547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-03-27,0.885246,0.000000,0.027322,0.087432,0.300546,0.076503,0.000000,0.622951,0.950820,0.049180,0.005464,0.098361,0.934426,0.065574,0.513661,0.267760,0.218579,0.169399
2017-03-28,0.795455,0.000000,0.079545,0.125000,0.102273,0.125000,0.000000,0.772727,0.920455,0.079545,0.011364,0.488636,0.863636,0.136364,0.590909,0.204545,0.204545,0.125000
2017-03-29,0.798701,0.000000,0.045455,0.155844,0.103896,0.136364,0.000000,0.759740,0.889610,0.110390,0.012987,0.467532,0.850649,0.149351,0.668831,0.207792,0.123377,0.201299
2017-03-30,0.698324,0.000000,0.039106,0.173184,0.156425,0.050279,0.011173,0.782123,0.966480,0.033520,0.005587,0.217877,0.888268,0.111732,0.675978,0.178771,0.145251,0.268156
2017-03-31,0.788732,0.000000,0.075117,0.136150,0.051643,0.126761,0.000000,0.821596,0.985915,0.014085,0.000000,0.018779,0.896714,0.103286,0.704225,0.178404,0.117371,0.145540

In [31]:
import csv

# 開啟輸出的 CSV 檔案
with open('preprocess_train_includecancel_per_part2.csv', 'w', newline='') as csvfile:
    # 建立 CSV 檔寫入器
    writer = csv.writer(csvfile)

    # 寫入標題資料
    writer.writerow(["arrival_date","meal_BB","meal_FB",
                     "meal_HB","meal_SC","distribution_channel_Corporate",
                     "distribution_channel_Direct","distribution_channel_GDS",
                     "distribution_channel_TA/TO","is_repeated_guest_0",
                     "is_repeated_guest_1","previous_cancellations","previous_bookings_not_canceled","room_0","room_1",
                     "assigned_room_type_A","assigned_room_type_D","assigned_room_type_else","booking_changes"])
    # 寫入距離資料
    for i in range(len(train_mid_8_per)):
        writer.writerow([train_mid_8_per.index[i],train_mid_8_per["meal_BB"].iloc[i],train_mid_8_per["meal_FB"].iloc[i],
                         train_mid_8_per["meal_HB"].iloc[i],train_mid_8_per["meal_SC"].iloc[i],train_mid_8_per["distribution_channel_Corporate"].iloc[i],
                         train_mid_8_per["distribution_channel_Direct"].iloc[i],train_mid_8_per["distribution_channel_GDS"].iloc[i],
                         train_mid_8_per["distribution_channel_TA/TO"].iloc[i],train_mid_8_per["is_repeated_guest_0"].iloc[i],
                         train_mid_8_per["is_repeated_guest_1"].iloc[i],train_mid_8_per["previous_cancellations"].iloc[i],
                         train_mid_8_per["previous_bookings_not_canceled"].iloc[i],train_mid_8_per["room_0"].iloc[i],
                         train_mid_8_per["room_1"].iloc[i],train_mid_8_per["assigned_room_type_A"].iloc[i],train_mid_8_per["assigned_room_type_D"].iloc[i],
                        train_mid_8_per["assigned_room_type_else"].iloc[i],train_mid_8_per["booking_changes"].iloc[i]])