<font size='5'>期末報告</font><br>

In [1]:
import numpy as np
import pandas as pd
import calendar

In [4]:
train = pd.read_csv('train.csv', engine='python',index_col="ID")
test = pd.read_csv('test.csv', engine='python',index_col="ID")
train_label = pd.read_csv('train_label.csv', engine='python')
test_nolabel = pd.read_csv('test_nolabel.csv', engine='python')

In [50]:
train

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
ID,,,,,,,,,,,,,,,,,,,,,
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,-6.305161,0,0,Check-Out,2015-07-01
1,City Hotel,0,257,2015,July,27,1,0,2,1,...,No Deposit,6.0,NaN,0,Transient,75.052227,0,0,Check-Out,2015-07-03
2,City Hotel,0,257,2015,July,27,1,0,2,2,...,No Deposit,6.0,NaN,0,Transient,74.546401,0,0,Check-Out,2015-07-03
3,City Hotel,0,257,2015,July,27,1,0,2,2,...,No Deposit,6.0,NaN,0,Transient,76.376288,0,0,Check-Out,2015-07-03
4,City Hotel,0,257,2015,July,27,1,0,2,2,...,No Deposit,6.0,NaN,0,Transient,49.411647,0,0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91526,Resort Hotel,1,19,2017,March,13,31,0,2,2,...,No Deposit,250.0,NaN,0,Transient,79.223571,0,1,Canceled,2017-03-22
91527,Resort Hotel,0,28,2017,March,13,31,0,2,2,...,No Deposit,NaN,NaN,0,Transient,-6.822102,0,0,Check-Out,2017-04-02
91528,Resort Hotel,0,2,2017,March,13,31,0,1,2,...,No Deposit,NaN,NaN,0,Transient,90.814554,0,2,Check-Out,2017-04-01
91529,Resort Hotel,0,30,2017,March,13,31,3,7,2,...,No Deposit,250.0,NaN,0,Transient,38.135565,0,1,Check-Out,2017-04-10
91530,Resort Hotel,0,1,2017,March,13,31,0,1,1,...,No Deposit,250.0,NaN,0,Transient,58.196470,0,1,Check-Out,2017-04-01

In [53]:
train[["arrival_date_year","arrival_date_month","arrival_date_day_of_month"]]

       arrival_date_year arrival_date_month  arrival_date_day_of_month
ID
0                   2015               July                          1
1                   2015               July                          1
2                   2015               July                          1
3                   2015               July                          1
4                   2015               July                          1
...                  ...                ...                        ...
91526               2017              March                         31
91527               2017              March                         31
91528               2017              March                         31
91529               2017              March                         31
91530               2017              March                         31

[91531 rows x 3 columns]

In [23]:
date_group=train.groupby(["arrival_date_year","arrival_date_month","arrival_date_day_of_month"])

In [56]:
a=train[["arrival_date_year","arrival_date_month","arrival_date_day_of_month"]].drop_duplicates()

資料從2015/7/1~2017/3/31

In [57]:
for i in range(len(a)):
    print(a.iloc[i])

arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       1
Name: 0, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       2
Name: 122, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       3
Name: 215, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       4
Name: 271, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       5
Name: 359, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       6
Name: 412, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       7
Name: 487, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       8
Name: 541, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month       9
Name: 610, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      10
Name: 690, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      11
Name: 741, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      12
Name: 844, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      13
Name: 907, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      14
Name: 991, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      15
Name: 1026, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      16
Name: 1128, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      17
Name: 1231, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      18
Name: 1382, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      19
Name: 1537, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      20
Name: 1591, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      21
Name: 1716, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      22
Name: 1787, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      23
Name: 1914, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      24
Name: 2039, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      25
Name: 2103, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      26
Name: 2307, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      27
Name: 2354, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      28
Name: 2524, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      29
Name: 2558, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      30
Name: 2608, dtype: object
arrival_date_year            2015
arrival_date_month           July
arrival_date_day_of_month      31
Name: 2707, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         1
Name: 2776, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         2
Name: 2886, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         3
Name: 2936, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         4
Name: 3119, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         5
Name: 3170, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         6
Name: 3324, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         7
Name: 3399, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         8
Name: 3532, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month         9
Name: 3738, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        10
Name: 3823, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        11
Name: 4030, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        12
Name: 4147, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        13
Name: 4280, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        14
Name: 4387, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        15
Name: 4716, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        16
Name: 4906, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        17
Name: 5004, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        18
Name: 5192, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        19
Name: 5286, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        20
Name: 5352, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        21
Name: 5462, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        22
Name: 5537, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        23
Name: 5676, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        24
Name: 5755, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        25
Name: 5908, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        26
Name: 6034, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        27
Name: 6156, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        28
Name: 6256, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        29
Name: 6340, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        30
Name: 6449, dtype: object
arrival_date_year              2015
arrival_date_month           August
arrival_date_day_of_month        31
Name: 6550, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            1
Name: 6665, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            2
Name: 6765, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            3
Name: 6893, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            4
Name: 7048, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            5
Name: 7240, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            6
Name: 7480, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            7
Name: 7632, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            8
Name: 7765, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month            9
Name: 7869, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           10
Name: 8070, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           11
Name: 8209, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           12
Name: 8421, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           13
Name: 8612, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           14
Name: 8677, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           15
Name: 8826, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           16
Name: 8947, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           17
Name: 9117, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           18
Name: 9448, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           19
Name: 9788, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           20
Name: 9983, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           21
Name: 10112, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           22
Name: 10338, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           23
Name: 10439, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           24
Name: 10598, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           25
Name: 10814, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           26
Name: 11089, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           27
Name: 11287, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           28
Name: 11356, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           29
Name: 11463, dtype: object
arrival_date_year                 2015
arrival_date_month           September
arrival_date_day_of_month           30
Name: 11574, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          1
Name: 11779, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          2
Name: 11900, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          3
Name: 12104, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          4
Name: 12315, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          5
Name: 12500, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          6
Name: 12723, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          7
Name: 12902, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          8
Name: 13092, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month          9
Name: 13256, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         10
Name: 13466, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         11
Name: 13716, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         12
Name: 13818, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         13
Name: 14026, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         14
Name: 14124, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         15
Name: 14197, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         16
Name: 14452, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         17
Name: 14808, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         18
Name: 14938, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         19
Name: 15054, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         20
Name: 15283, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         21
Name: 15392, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         22
Name: 15523, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         23
Name: 15611, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         24
Name: 15710, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         25
Name: 15870, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         26
Name: 16018, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         27
Name: 16115, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         28
Name: 16168, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         29
Name: 16309, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         30
Name: 16439, dtype: object
arrival_date_year               2015
arrival_date_month           October
arrival_date_day_of_month         31
Name: 16545, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           1
Name: 16736, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           2
Name: 16793, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           3
Name: 16870, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           4
Name: 16940, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           5
Name: 17009, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           6
Name: 17069, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           7
Name: 17170, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           8
Name: 17281, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month           9
Name: 17335, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          10
Name: 17417, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          11
Name: 17467, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          12
Name: 17539, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          13
Name: 17604, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          14
Name: 17663, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          15
Name: 17702, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          16
Name: 17730, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          17
Name: 17804, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          18
Name: 17885, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          19
Name: 18058, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          20
Name: 18113, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          21
Name: 18300, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          22
Name: 18386, dtype: object
arrival_date_year                2015
arrival_date_month           November
arrival_date_day_of_month          23
Name: 18424, dtype: object
arrival_date_year                2015

In [28]:
date_group.get_group((2015, 'August', 1))

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
ID,,,,,,,,,,,,,,,,,,,,,
2776,Resort Hotel,0,211,2015,August,31,1,4,6,3,...,No Deposit,115.0,NaN,0,Contract,148.964004,0,1,Check-Out,2015-08-11
2777,Resort Hotel,0,177,2015,August,31,1,2,6,2,...,No Deposit,240.0,NaN,0,Transient,115.600458,0,1,Check-Out,2015-08-09
2778,Resort Hotel,0,67,2015,August,31,1,2,6,2,...,No Deposit,240.0,NaN,0,Transient,168.960123,0,1,Check-Out,2015-08-09
2779,Resort Hotel,0,129,2015,August,31,1,3,6,2,...,No Deposit,250.0,NaN,0,Transient,114.397382,1,1,Check-Out,2015-08-10
2780,Resort Hotel,0,105,2015,August,31,1,3,6,1,...,No Deposit,NaN,NaN,0,Transient,137.644083,0,0,Check-Out,2015-08-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2881,City Hotel,1,117,2015,August,31,1,2,1,2,...,No Deposit,17.0,NaN,0,Transient-Party,95.566192,0,0,Canceled,2015-07-28
2882,City Hotel,1,2,2015,August,31,1,2,1,2,...,No Deposit,17.0,NaN,0,Transient-Party,110.901142,0,0,Canceled,2015-07-30
2883,City Hotel,0,117,2015,August,31,1,2,1,2,...,No Deposit,17.0,NaN,0,Transient-Party,96.263723,0,0,Check-Out,2015-08-04
2884,City Hotel,1,117,2015,August,31,1,2,1,2,...,No Deposit,17.0,NaN,0,Transient-Party,113.277627,0,0,Canceled,2015-07-28
2885,Resort Hotel,1,256,2015,August,31,1,4,6,2,...,No Deposit,240.0,NaN,0,Transient-Party,94.498349,0,1,Canceled,2015-04-16

In [41]:
print (date_group.groups)

{(2015, 'August', 1): [2776, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785, 2786, 2787, 2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795, 2796, 2797, 2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806, 2807, 2808, 2809, 2810, 2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819, 2820, 2821, 2822, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2831, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2862, 2863, 2864, 2865, 2866, 2867, 2868, 2869, 2870, 2871, 2872, 2873, 2874, 2875, ...], (2015, 'August', 2): [2886, 2887, 2888, 2889, 2890, 2891, 2892, 2893, 2894, 2895, 2896, 2897, 2898, 2899, 2900, 2901, 2902, 2903, 2904, 2905, 2906, 2907, 2908, 2909, 2910, 2911, 2912, 2913, 2914, 2915, 2916, 2917, 2918, 2919, 2920, 2921, 2922, 2923, 2924, 2925, 2926, 2927, 2928, 2929, 2930, 2931, 2932, 2933, 2934, 2935], (2015, 'August', 3): [2936, 2937, 2938, 2939, 2940, 2941, 2942, 2943, 2944, 2945, 2946, 2947, 2948, 2949, 2950, 2951, 2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962, 2963, 2964, 2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995, 2996, 2997, 2998, 2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033, 3034, 3035, ...], (2015, 'August', 4): [3119, 3120, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3129, 3130, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3143, 3144, 3145, 3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3154, 3155, 3156, 3157, 3158, 3159, 3160, 3161, 3162, 3163, 3164, 3165, 3166, 3167, 3168, 3169], (2015, 'August', 5): [3170, 3171, 3172, 3173, 3174, 3175, 3176, 3177, 3178, 3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197, 3198, 3199, 3200, 3201, 3202, 3203, 3204, 3205, 3206, 3207, 3208, 3209, 3210, 3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3219, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227, 3228, 3229, 3230, 3231, 3232, 3233, 3234, 3235, 3236, 3237, 3238, 3239, 3240, 3241, 3242, 3243, 3244, 3245, 3246, 3247, 3248, 3249, 3250, 3251, 3252, 3253, 3254, 3255, 3256, 3257, 3258, 3259, 3260, 3261, 3262, 3263, 3264, 3265, 3266, 3267, 3268, 3269, ...], (2015, 'August', 6): [3324, 3325, 3326, 3327, 3328, 3329, 3330, 3331, 3332, 3333, 3334, 3335, 3336, 3337, 3338, 3339, 3340, 3341, 3342, 3343, 3344, 3345, 3346, 3347, 3348, 3349, 3350, 3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361, 3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398], (2015, 'August', 7): [3399, 3400, 3401, 3402, 3403, 3404, 3405, 3406, 3407, 3408, 3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3425, 3426, 3427, 3428, 3429, 3430, 3431, 3432, 3433, 3434, 3435, 3436, 3437, 3438, 3439, 3440, 3441, 3442, 3443, 3444, 3445, 3446, 3447, 3448, 3449, 3450, 3451, 3452, 3453, 3454, 3455, 3456, 3457, 3458, 3459, 3460, 3461, 3462, 3463, 3464, 3465, 3466, 3467, 3468, 3469, 3470, 3471, 3472, 3473, 3474, 3475, 3476, 3477, 3478, 3479, 3480, 3481, 3482, 3483, 3484, 3485, 3486, 3487, 3488, 3489, 3490, 3491, 3492, 3493, 3494, 3495, 3496, 3497, 3498, ...], (2015, 'August', 8): [3532, 3533, 3534, 3535, 3536, 3537, 3538, 3539, 3540, 3541, 3542, 3543, 3544, 3545, 3546, 3547, 3548, 3549, 3550, 3551, 3552, 3553, 3554, 3555, 3556, 3557, 3558, 3559, 3560, 3561, 3562, 3563, 3564, 3565, 3566, 3567, 3568, 3569, 3570, 3571, 3572, 3573, 3574, 3575, 3576, 3577, 3578, 3579, 3580, 3581, 3582, 3583, 3584, 3585, 3586, 3587, 3588, 3589, 3590, 3591, 3592, 3593, 3594, 3595, 3596, 3597, 3598, 3599, 3600, 3601, 3602, 3603, 3604, 3605, 3606, 3607, 3608, 3609, 3610, 3611, 3612, 3613, 3614, 3615, 3616, 3617, 3618, 3619, 3620, 3621, 3622, 3623, 3624, 3625, 3626, 3627, 3628, 3629, 3630, 3631, ...], (2015, 'August', 9): [3738, 3739, 3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749, 3750, 3751, 3752, 3753, 3754, 3755, 3756, 3757, 3758, 3759, 3760, 3761, 3762, 3763, 3764, 3765, 3766, 3767, 3768, 3769, 3770, 3771, 3772, 3773, 3774, 3775, 3776, 3777, 3778, 3779, 3780, 3781, 3782, 3783, 3784, 3785, 3786, 3787, 3788, 3789, 3790, 3791, 3792, 3793, 3794, 3795, 3796, 3797, 3798, 3799, 3800, 3801, 3802, 3803, 3804, 3805, 3806, 3807, 3808, 3809, 3810, 3811, 3812, 3813, 3814, 3815, 3816, 3817, 3818, 3819, 3820, 3821, 3822], (2015, 'August', 10): [3823, 3824, 3825, 3826, 3827, 3828, 3829, 3830, 3831, 3832, 3833, 3834, 3835, 3836, 3837, 3838, 3839, 3840, 3841, 3842, 3843, 3844, 3845, 3846, 3847, 3848, 3849, 3850, 3851, 3852, 3853, 3854, 3855, 3856, 3857, 3858, 3859, 3860, 3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869, 3870, 3871, 3872, 3873, 3874, 3875, 3876, 3877, 3878, 3879, 3880, 3881, 3882, 3883, 3884, 3885, 3886, 3887, 3888, 3889, 3890, 3891, 3892, 3893, 3894, 3895, 3896, 3897, 3898, 3899, 3900, 3901, 3902, 3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3911, 3912, 3913, 3914, 3915, 3916, 3917, 3918, 3919, 3920, 3921, 3922, ...], (2015, 'August', 11): [4030, 4031, 4032, 4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 4078, 4079, 4080, 4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120, 4121, 4122, 4123, 4124, 4125, 4126, 4127, 4128, 4129, ...], (2015, 'August', 12): [4147, 4148, 4149, 4150, 4151, 4152, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166, 4167, 4168, 4169, 4170, 4171, 4172, 4173, 4174, 4175, 4176, 4177, 4178, 4179, 4180, 4181, 4182, 4183, 4184, 4185, 4186, 4187, 4188, 4189, 4190, 4191, 4192, 4193, 4194, 4195, 4196, 4197, 4198, 4199, 4200, 4201, 4202, 4203, 4204, 4205, 4206, 4207, 4208, 4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237, 4238, 4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, ...], (2015, 'August', 13): [4280, 4281, 4282, 4283, 4284, 4285, 4286, 4287, 4288, 4289, 4290, 4291, 4292, 4293, 4294, 4295, 4296, 4297, 4298, 4299, 4300, 4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311, 4312, 4313, 4314, 4315, 4316, 4317, 4318, 4319, 4320, 4321, 4322, 4323, 4324, 4325, 4326, 4327, 4328, 4329, 4330, 4331, 4332, 4333, 4334, 4335, 4336, 4337, 4338, 4339, 4340, 4341, 4342, 4343, 4344, 4345, 4346, 4347, 4348, 4349, 4350, 4351, 4352, 4353, 4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361, 4362, 4363, 4364, 4365, 4366, 4367, 4368, 4369, 4370, 4371, 4372, 4373, 4374, 4375, 4376, 4377, 4378, 4379, ...], (2015, 'August', 14): [4387, 4388, 4389, 4390, 4391, 4392, 4393, 4394, 4395, 4396, 4397, 4398, 4399, 4400, 4401, 4402, 4403, 4404, 4405, 4406, 4407, 4408, 4409, 4410, 4411, 4412, 4413, 4414, 4415, 4416, 4417, 4418, 4419, 4420, 4421, 4422, 4423, 4424, 4425, 4426, 4427, 4428, 4429, 4430, 4431, 4432, 4433, 4434, 4435, 4436, 4437, 4438, 4439, 4440, 4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448, 4449, 4450, 4451, 4452, 4453, 4454, 4455, 4456, 4457, 4458, 4459, 4460, 4461, 4462, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481, 4482, 4483, 4484, 4485, 4486, ...], (2015, 'August', 15): [4716, 4717, 4718, 4719, 4720, 4721, 4722, 4723, 4724, 4725, 4726, 4727, 4728, 4729, 4730, 4731, 4732, 4733, 4734, 4735, 4736, 4737, 4738, 4739, 4740, 4741, 4742, 4743, 4744, 4745, 4746, 4747, 4748, 4749, 4750, 4751, 4752, 4753, 4754, 4755, 4756, 4757, 4758, 4759, 4760, 4761, 4762, 4763, 4764, 4765, 4766, 4767, 4768, 4769, 4770, 4771, 4772, 4773, 4774, 4775, 4776, 4777, 4778, 4779, 4780, 4781, 4782, 4783, 4784, 4785, 4786, 4787, 4788, 4789, 4790, 4791, 4792, 4793, 4794, 4795, 4796, 4797, 4798, 4799, 4800, 4801, 4802, 4803, 4804, 4805, 4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, ...], (2015, 'August', 16): [4906, 4907, 4908, 4909, 4910, 4911, 4912, 4913, 4914, 4915, 4916, 4917, 4918, 4919, 4920, 4921, 4922, 4923, 4924, 4925, 4926, 4927, 4928, 4929, 4930, 4931, 4932, 4933, 4934, 4935, 4936, 4937, 4938, 4939, 4940, 4941, 4942, 4943, 4944, 4945, 4946, 4947, 4948, 4949, 4950, 4951, 4952, 4953, 4954, 4955, 4956, 4957, 4958, 4959, 4960, 4961, 4962, 4963, 4964, 4965, 4966, 4967, 4968, 4969, 4970, 4971, 4972, 4973, 4974, 4975, 4976, 4977, 4978, 4979, 4980, 4981, 4982, 4983, 4984, 4985, 4986, 4987, 4988, 4989, 4990, 4991, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999, 5000, 5001, 5002, 5003], (2015, 'August', 17): [5004, 5005, 5006, 5007, 5008, 5009, 5010, 5011, 5012, 5013, 5014, 5015, 5016, 5017, 5018, 5019, 5020, 5021, 5022, 5023, 5024, 5025, 5026, 5027, 5028, 5029, 5030, 5031, 5032, 5033, 5034, 5035, 5036, 5037, 5038, 5039, 5040, 5041, 5042, 5043, 5044, 5045, 5046, 5047, 5048, 5049, 5050, 5051, 5052, 5053, 5054, 5055, 5056, 5057, 5058, 5059, 5060, 5061, 5062, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089, 5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5099, 5100, 5101, 5102, 5103, ...], (2015, 'August', 18): [5192, 5193, 5194, 5195, 5196, 5197, 5198, 5199, 5200, 5201, 5202, 5203, 5204, 5205, 5206, 5207, 5208, 5209, 5210, 5211, 5212, 5213, 5214, 5215, 5216, 5217, 5218, 5219, 5220, 5221, 5222, 5223, 5224, 5225, 5226, 5227, 5228, 5229, 5230, 5231, 5232, 5233, 5234, 5235, 5236, 5237, 5238, 5239, 5240, 5241, 5242, 5243, 5244, 5245, 5246, 5247, 5248, 5249, 5250, 5251, 5252, 5253, 5254, 5255, 5256, 5257, 5258, 5259, 5260, 5261, 5262, 5263, 5264, 5265, 5266, 5267, 5268, 5269, 5270, 5271, 5272, 5273, 5274, 5275, 5276, 5277, 5278, 5279, 5280, 5281, 5282, 5283, 5284, 5285], (2015, 'August', 19): [5286, 5287, 5288, 5289, 5290, 5291, 5292, 5293, 5294, 5295, 5296, 5297, 5298, 5299, 5300, 5301, 5302, 5303, 5304, 5305, 5306, 5307, 5308, 5309, 5310, 5311, 5312, 5313, 5314, 5315, 5316, 5317, 5318, 5319, 5320, 5321, 5322, 5323, 5324, 5325, 5326, 5327, 5328, 5329, 5330, 5331, 5332, 5333, 5334, 5335, 5336, 5337, 5338, 5339, 5340, 5341, 5342, 5343, 5344, 5345, 5346, 5347, 5348, 5349, 5350, 5351], (2015, 'August', 20): [5352, 5353, 5354, 5355, 5356, 5357, 5358, 5359, 5360, 5361, 5362, 5363, 5364, 5365, 5366, 5367, 5368, 5369, 5370, 5371, 5372, 5373, 5374, 5375, 5376, 5377, 5378, 5379, 5380, 5381, 5382, 5383, 5384, 5385, 5386, 5387, 5388, 5389, 5390, 5391, 5392, 5393, 5394, 5395, 5396, 5397, 5398, 5399, 5400, 5401, 5402, 5403, 5404, 5405, 5406, 5407, 5408, 5409, 5410, 5411, 5412, 5413, 5414, 5415, 5416, 5417, 5418, 5419, 5420, 5421, 5422, 5423, 5424, 5425, 5426, 5427, 5428, 5429, 5430, 5431, 5432, 5433, 5434, 5435, 5436, 5437, 5438, 5439, 5440, 5441, 5442, 5443, 5444, 5445, 5446, 5447, 5448, 5449, 5450, 5451, ...], (2015, 'August', 21): [5462, 5463, 5464, 5465, 5466, 5467, 5468, 5469, 5470, 5471, 5472, 5473, 5474, 5475, 5476, 5477, 5478, 5479, 5480, 5481, 5482, 5483, 5484, 5485, 5486, 5487, 5488, 5489, 5490, 5491, 5492, 5493, 5494, 5495, 5496, 5497, 5498, 5499, 5500, 5501, 5502, 5503, 5504, 5505, 5506, 5507, 5508, 5509, 5510, 5511, 5512, 5513, 5514, 5515, 5516, 5517, 5518, 5519, 5520, 5521, 5522, 5523, 5524, 5525, 5526, 5527, 5528, 5529, 5530, 5531, 5532, 5533, 5534, 5535, 5536], (2015, 'August', 22): [5537, 5538, 5539, 5540, 5541, 5542, 5543, 5544, 5545, 5546, 5547, 5548, 5549, 5550, 5551, 5552, 5553, 5554, 5555, 5556, 5557, 5558, 5559, 5560, 5561, 5562, 5563, 5564, 5565, 5566, 5567, 5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5583, 5584, 5585, 5586, 5587, 5588, 5589, 5590, 5591, 5592, 5593, 5594, 5595, 5596, 5597, 5598, 5599, 5600, 5601, 5602, 5603, 5604, 5605, 5606, 5607, 5608, 5609, 5610, 5611, 5612, 5613, 5614, 5615, 5616, 5617, 5618, 5619, 5620, 5621, 5622, 5623, 5624, 5625, 5626, 5627, 5628, 5629, 5630, 5631, 5632, 5633, 5634, 5635, 5636, ...], (2015, 'August', 23): [5676, 5677, 5678, 5679, 5680, 5681, 5682, 5683, 5684, 5685, 5686, 5687, 5688, 5689, 5690, 5691, 5692, 5693, 5694, 5695, 5696, 5697, 5698, 5699, 5700, 5701, 5702, 5703, 5704, 5705, 5706, 5707, 5708, 5709, 5710, 5711, 5712, 5713, 5714, 5715, 5716, 5717, 5718, 5719, 5720, 5721, 5722, 5723, 5724, 5725, 5726, 5727, 5728, 5729, 5730, 5731, 5732, 5733, 5734, 5735, 5736, 5737, 5738, 5739, 5740, 5741, 5742, 5743, 5744, 5745, 5746, 5747, 5748, 5749, 5750, 5751, 5752, 5753, 5754], (2015, 'August', 24): [5755, 5756, 5757, 5758, 5759, 5760, 5761, 5762, 5763, 5764, 5765, 5766, 5767, 5768, 5769, 5770, 5771, 5772, 5773, 5774, 5775, 5776, 5777, 5778, 5779, 5780, 5781, 5782, 5783, 5784, 5785, 5786, 5787, 5788, 5789, 5790, 5791, 5792, 5793, 5794, 5795, 5796, 5797, 5798, 5799, 5800, 5801, 5802, 5803, 5804, 5805, 5806, 5807, 5808, 5809, 5810, 5811, 5812, 5813, 5814, 5815, 5816, 5817, 5818, 5819, 5820, 5821, 5822, 5823, 5824, 5825, 5826, 5827, 5828, 5829, 5830, 5831, 5832, 5833, 5834, 5835, 5836, 5837, 5838, 5839, 5840, 5841, 5842, 5843, 5844, 5845, 5846, 5847, 5848, 5849, 5850, 5851, 5852, 5853, 5854, ...], (2015, 'August', 25): [5908, 5909, 5910, 5911, 5912, 5913, 5914, 5915, 5916, 5917, 5918, 5919, 5920, 5921, 5922, 5923, 5924, 5925, 5926, 5927, 5928, 5929, 5930, 5931, 5932, 5933, 5934, 5935, 5936, 5937, 5938, 5939, 5940, 5941, 5942, 5943, 5944, 5945, 5946, 5947, 5948, 5949, 5950, 5951, 5952, 5953, 5954, 5955, 5956, 5957, 5958, 5959, 5960, 5961, 5962, 5963, 5964, 5965, 5966, 5967, 5968, 5969, 5970, 5971, 5972, 5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982, 5983, 5984, 5985, 5986, 5987, 5988, 5989, 5990, 5991, 5992, 5993, 5994, 5995, 5996, 5997, 5998, 5999, 6000, 6001, 6002, 6003, 6004, 6005, 6006, 6007, ...], (2015, 'August', 26): [6034, 6035, 6036, 6037, 6038, 6039, 6040, 6041, 6042, 6043, 6044, 6045, 6046, 6047, 6048, 6049, 6050, 6051, 6052, 6053, 6054, 6055, 6056, 6057, 6058, 6059, 6060, 6061, 6062, 6063, 6064, 6065, 6066, 6067, 6068, 6069, 6070, 6071, 6072, 6073, 6074, 6075, 6076, 6077, 6078, 6079, 6080, 6081, 6082, 6083, 6084, 6085, 6086, 6087, 6088, 6089, 6090, 6091, 6092, 6093, 6094, 6095, 6096, 6097, 6098, 6099, 6100, 6101, 6102, 6103, 6104, 6105, 6106, 6107, 6108, 6109, 6110, 6111, 6112, 6113, 6114, 6115, 6116, 6117, 6118, 6119, 6120, 6121, 6122, 6123, 6124, 6125, 6126, 6127, 6128, 6129, 6130, 6131, 6132, 6133, ...], (2015, 'August', 27): [6156, 6157, 6158, 6159, 6160, 6161, 6162, 6163, 6164, 6165, 6166, 6167, 6168, 6169, 6170, 6171, 6172, 6173, 6174, 6175, 6176, 6177, 6178, 6179, 6180, 6181, 6182, 6183, 6184, 6185, 6186, 6187, 6188, 6189, 6190, 6191, 6192, 6193, 6194, 6195, 6196, 6197, 6198, 6199, 6200, 6201, 6202, 6203, 6204, 6205, 6206, 6207, 6208, 6209, 6210, 6211, 6212, 6213, 6214, 6215, 6216, 6217, 6218, 6219, 6220, 6221, 6222, 6223, 6224, 6225, 6226, 6227, 6228, 6229, 6230, 6231, 6232, 6233, 6234, 6235, 6236, 6237, 6238, 6239, 6240, 6241, 6242, 6243, 6244, 6245, 6246, 6247, 6248, 6249, 6250, 6251, 6252, 6253, 6254, 6255], (2015, 'August', 28): [6256, 6257, 6258, 6259, 6260, 6261, 6262, 6263, 6264, 6265, 6266, 6267, 6268, 6269, 6270, 6271, 6272, 6273, 6274, 6275, 6276, 6277, 6278, 6279, 6280, 6281, 6282, 6283, 6284, 6285, 6286, 6287, 6288, 6289, 6290, 6291, 6292, 6293, 6294, 6295, 6296, 6297, 6298, 6299, 6300, 6301, 6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 6310, 6311, 6312, 6313, 6314, 6315, 6316, 6317, 6318, 6319, 6320, 6321, 6322, 6323, 6324, 6325, 6326, 6327, 6328, 6329, 6330, 6331, 6332, 6333, 6334, 6335, 6336, 6337, 6338, 6339], (2015, 'August', 29): [6340, 6341, 6342, 6343, 6344, 6345, 6346, 6347, 6348, 6349, 6350, 6351, 6352, 6353, 6354, 6355, 6356, 6357, 6358, 6359, 6360, 6361, 6362, 6363, 6364, 6365, 6366, 6367, 6368, 6369, 6370, 6371, 6372, 6373, 6374, 6375, 6376, 6377, 6378, 6379, 6380, 6381, 6382, 6383, 6384, 6385, 6386, 6387, 6388, 6389, 6390, 6391, 6392, 6393, 6394, 6395, 6396, 6397, 6398, 6399, 6400, 6401, 6402, 6403, 6404, 6405, 6406, 6407, 6408, 6409, 6410, 6411, 6412, 6413, 6414, 6415, 6416, 6417, 6418, 6419, 6420, 6421, 6422, 6423, 6424, 6425, 6426, 6427, 6428, 6429, 6430, 6431, 6432, 6433, 6434, 6435, 6436, 6437, 6438, 6439, ...], (2015, 'August', 30): [6449, 6450, 6451, 6452, 6453, 6454, 6455, 6456, 6457, 6458, 6459, 6460, 6461, 6462, 6463, 6464, 6465, 6466, 6467, 6468, 6469, 6470, 6471, 6472, 6473, 6474, 6475, 6476, 6477, 6478, 6479, 6480, 6481, 6482, 6483, 6484, 6485, 6486, 6487, 6488, 6489, 6490, 6491, 6492, 6493, 6494, 6495, 6496, 6497, 6498, 6499, 6500, 6501, 6502, 6503, 6504, 6505, 6506, 6507, 6508, 6509, 6510, 6511, 6512, 6513, 6514, 6515, 6516, 6517, 6518, 6519, 6520, 6521, 6522, 6523, 6524, 6525, 6526, 6527, 6528, 6529, 6530, 6531, 6532, 6533, 6534, 6535, 6536, 6537, 6538, 6539, 6540, 6541, 6542, 6543, 6544, 6545, 6546, 6547, 6548, ...], (2015, 'August', 31): [6550, 6551, 6552, 6553, 6554, 6555, 6556, 6557, 6558, 6559, 6560, 6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570, 6571, 6572, 6573, 6574, 6575, 6576, 6577, 6578, 6579, 6580, 6581, 6582, 6583, 6584, 6585, 6586, 6587, 6588, 6589, 6590, 6591, 6592, 6593, 6594, 6595, 6596, 6597, 6598, 6599, 6600, 6601, 6602, 6603, 6604, 6605, 6606, 6607, 6608, 6609, 6610, 6611, 6612, 6613, 6614, 6615, 6616, 6617, 6618, 6619, 6620, 6621, 6622, 6623, 6624, 6625, 6626, 6627, 6628, 6629, 6630, 6631, 6632, 6633, 6634, 6635, 6636, 6637, 6638, 6639, 6640, 6641, 6642, 6643, 6644, 6645, 6646, 6647, 6648, 6649, ...], (2015, 'December', 1): [19076, 19077, 19078, 19079, 19080, 19081, 19082, 19083, 19084, 19085, 19086, 19087, 19088, 19089, 19090, 19091, 19092, 19093, 19094, 19095, 19096, 19097, 19098, 19099, 19100, 19101, 19102, 19103, 19104, 19105, 19106, 19107, 19108, 19109, 19110, 19111, 19112, 19113, 19114, 19115, 19116, 19117, 19118, 19119, 19120, 19121, 19122, 19123, 19124, 19125, 19126, 19127, 19128, 19129, 19130, 19131, 19132], (2015, 'December', 2): [19133, 19134, 19135, 19136, 19137, 19138, 19139, 19140, 19141, 19142, 19143, 19144, 19145, 19146, 19147, 19148, 19149, 19150, 19151, 19152, 19153, 19154, 19155, 19156, 19157, 19158, 19159, 19160, 19161, 19162, 19163, 19164, 19165, 19166, 19167, 19168, 19169, 19170, 19171, 19172, 19173, 19174, 19175, 19176, 19177, 19178, 19179, 19180, 19181, 19182, 19183, 19184, 19185, 19186, 19187, 19188, 19189, 19190], (2015, 'December', 3): [19191, 19192, 19193, 19194, 19195, 19196, 19197, 19198, 19199, 19200, 19201, 19202, 19203, 19204, 19205, 19206, 19207, 19208, 19209, 19210, 19211, 19212, 19213, 19214, 19215, 19216, 19217, 19218, 19219, 19220, 19221, 19222, 19223, 19224, 19225, 19226, 19227, 19228, 19229, 19230, 19231, 19232, 19233, 19234, 19235, 19236, 19237, 19238, 19239, 19240, 19241, 19242, 19243, 19244, 19245, 19246, 19247, 19248, 19249, 19250, 19251, 19252, 19253, 19254, 19255, 19256, 19257, 19258, 19259, 19260, 19261, 19262, 19263, 19264, 19265, 19266, 19267, 19268, 19269, 19270, 19271, 19272, 19273], (2015, 'December', 4): [19274, 19275, 19276, 19277, 19278, 19279, 19280, 19281, 19282, 19283, 19284, 19285, 19286, 19287, 19288, 19289, 19290, 19291, 19292, 19293, 19294, 19295, 19296, 19297, 19298, 19299, 19300, 19301, 19302, 19303, 19304, 19305, 19306, 19307, 19308, 19309, 19310, 19311, 19312, 19313, 19314, 19315, 19316, 19317, 19318, 19319, 19320, 19321, 19322, 19323, 19324, 19325, 19326, 19327, 19328, 19329, 19330, 19331, 19332, 19333, 19334, 19335, 19336, 19337, 19338, 19339, 19340, 19341, 19342, 19343, 19344, 19345, 19346, 19347, 19348, 19349, 19350

In [17]:
for i in train.columns:
    print(i)

hotel
is_canceled
lead_time
arrival_date_year
arrival_date_month
arrival_date_week_number
arrival_date_day_of_month
stays_in_weekend_nights
stays_in_week_nights
adults
children
babies
meal
country
market_segment
distribution_channel
is_repeated_guest
previous_cancellations
previous_bookings_not_canceled
reserved_room_type
assigned_room_type
booking_changes
deposit_type
agent
company
days_in_waiting_list
customer_type
adr
required_car_parking_spaces
total_of_special_requests
reservation_status
reservation_status_date

In [19]:
for i in test.columns:
    print(i)

hotel
lead_time
arrival_date_year
arrival_date_month
arrival_date_week_number
arrival_date_day_of_month
stays_in_weekend_nights
stays_in_week_nights
adults
children
babies
meal
country
market_segment
distribution_channel
is_repeated_guest
previous_cancellations
previous_bookings_not_canceled
reserved_room_type
assigned_room_type
booking_changes
deposit_type
agent
company
days_in_waiting_list
customer_type
required_car_parking_spaces
total_of_special_requests

In [9]:
train.iloc[0]

hotel                             Resort Hotel
is_canceled                                  0
lead_time                                  342
arrival_date_year                         2015
arrival_date_month                        July
arrival_date_week_number                    27
arrival_date_day_of_month                    1
stays_in_weekend_nights                      0
stays_in_week_nights                         0
adults                                       2
children                                     0
babies                                       0
meal                                        BB
country                                    PRT
market_segment                          Direct
distribution_channel                    Direct
is_repeated_guest                            0
previous_cancellations                       0
previous_bookings_not_canceled               0
reserved_room_type                           C
assigned_room_type                           C
booking_changes                              3
deposit_type                        No Deposit
agent                                      NaN
company                                    NaN
days_in_waiting_list                         0
customer_type                        Transient
adr                                   -6.30516
required_car_parking_spaces                  0
total_of_special_requests                    0
reservation_status                   Check-Out
reservation_status_date             2015-07-01
Name: 0, dtype: object

In [15]:
train.isna().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             468
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             13217
company                           85917
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [10]:
test

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests
ID,,,,,,,,,,,,,,,,,,,,,
91531,City Hotel,75,2017,April,13,1,2,5,2,0.0,...,D,D,0,No Deposit,9.0,NaN,0,Transient,0,1
91532,City Hotel,208,2017,April,13,1,4,10,2,0.0,...,A,A,0,No Deposit,9.0,NaN,0,Transient,0,1
91533,Resort Hotel,12,2017,April,13,1,2,5,2,0.0,...,A,A,0,No Deposit,40.0,NaN,0,Contract,0,1
91534,City Hotel,76,2017,April,13,1,2,5,3,0.0,...,D,D,0,No Deposit,9.0,NaN,0,Transient,0,0
91535,City Hotel,9,2017,April,13,1,2,4,2,2.0,...,F,F,0,No Deposit,9.0,NaN,0,Transient,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Resort Hotel,108,2017,August,35,31,2,5,2,0.0,...,E,E,0,No Deposit,241.0,NaN,0,Transient,0,1
119386,Resort Hotel,194,2017,August,35,31,2,5,2,1.0,...,G,G,3,No Deposit,240.0,NaN,0,Transient,1,1
119387,Resort Hotel,17,2017,August,35,31,0,3,2,0.0,...,A,A,0,No Deposit,240.0,NaN,0,Transient,0,2
119388,Resort Hotel,191,2017,August,35,31,2,5,2,0.0,...,D,D,0,No Deposit,40.0,NaN,0,Contract,0,0
119389,City Hotel,3,2017,August,35,31,0,1,2,1.0,...,A,A,0,No Deposit,NaN,40.0,0,Transient,0,4

In [18]:
test.isna().sum()

hotel                                 0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
meal                                  0
country                              20
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                              3123
company                           26676
days_in_waiting_list                  0
customer_type                         0
required_car_parking_spaces           0
total_of_special_requests             0
dtype: int64

In [11]:
train_label

    arrival_date  label
0     2015-07-01    2.0
1     2015-07-02    1.0
2     2015-07-03    1.0
3     2015-07-04    1.0
4     2015-07-05    1.0
..           ...    ...
635   2017-03-27    2.0
636   2017-03-28    1.0
637   2017-03-29    2.0
638   2017-03-30    3.0
639   2017-03-31    3.0

[640 rows x 2 columns]

In [12]:
test_nolabel

    arrival_date
0     2017-04-01
1     2017-04-02
2     2017-04-03
3     2017-04-04
4     2017-04-05
..           ...
148   2017-08-27
149   2017-08-28
150   2017-08-29
151   2017-08-30
152   2017-08-31

[153 rows x 1 columns]